    body {
    background-color: #F3E4A1;
    background-image: url("../images/back.jpg");
    background-size: cover;
    }
    .hvr-float {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
      text-decoration: underline;
    }
/*TYPEWRITER
    */
    .var-highlight {
      color: black;
    }

    .string-highlight {
      color: black;
    }

    #typewriter {
        position: absolute;
        top: 175px;
        left: 275px;
      font-size: 1em;
      margin: 0;

    }
    #typewriter:after {
      content: "|";
      -webkit-animation: blink 500ms linear infinite alternate;
              animation: blink 500ms linear infinite alternate;
    }

    @-webkit-keyframes blink {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes blink {
      0% {
        opacity: 0
      }
      100% {
        opacity: 0;
      }
    }
    a {
        color: black;
        text-decoration:none;
    }
    h1 {
        color: black;
        font-size: 250%;
        font-family: monospace;
        font-weight: lighter;
        letter-spacing: 1px;
        text-decoration: none;
    }
    h3 {
        color: black;
        font-size: 250%;
        font-family: monospace;
        font-weight: lighter;
        letter-spacing: 3px;
        text-decoration: none;
        line-height: 50%;

    }
    h2 {
        color: black;
        font-size: 150%;
        font-family: monospace;
        font-weight: lighter;
        letter-spacing: 2px;
        text-decoration: none;
        line-height: 0%;
        text-align: center;

    }
    h4 {
        color: black;
        font-size: 150%;
        font-family: monospace;
        font-weight: lighter;
        letter-spacing: 2px;
        text-decoration: none;
        text-align: center;
        text-decoration: underline;

    }
    div.name {
        color:black;
        background-color: transparent;
        position: absolute;
        top: 5%;
        left: 32%;
        width: 35%;
        height: 8%;
        cursor: pointer;
    }
    div.about {
        color:black;
        background-color: transparent;
        position: absolute;
        top: 13%;
        left: 24%;
        width: 8%;
        height: 6%;
        cursor: pointer;
    }
    div.experience {
        color:black;
        background-color: transparent;
        position: absolute;
        top: 11%;
        left: 34%;
        width: 17%;
        height: 6%;
        cursor: default;
        z-index: -1;
        text-decoration: underline;
    }
    div.projects {
        color: black;
        background-color: transparent;
        position: absolute;
        top: 13%;
        left: 52%;
        width: 15%;
        height: 6%;
        cursor: pointer;
    }
    div.interests {
        color:black;
        background-color: transparent;
        position: absolute;
        top: 13%;
        left: 67%;
        width: 16%;
        height: 6%;
        cursor: pointer;
    }
    div.portrait {
        position: absolute;
        top: 225px;
        right: 60px;
        border-radius: 10px;
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
    transform: rotate(3deg);
    content: url(../images/experience_images/mastercard2.jpg);
    background-size: contain;
    width: 350px;
    height: 500px

    }
    .mastercard {
        position: absolute;
        top: 30%;
        left: 55%;
        width: 12%;
        height: 20%;
        content: url("../images/experience_images/mastercard.jpg");
        border-radius: 25px;
        z-index: 1;
        opacity: 0.95;

    }
    .cogitativo {
        position: absolute;
        top: 32%;
        left: 37%;
        width: 11%;
        height: 18%;
        content: url("../images/experience_images/cogitativo.jpg");
        border-radius: 25px;
        z-index: 1;
        opacity: 0.95;

    }
    .tutoring {
        position: absolute;
        top: 30%;
        left: 20%;
        width: 12%;
        height: 20%;
        content: url("../images/experience_images/tutor.jpg");
        border-radius: 25px;
        z-index: 1;
        opacity: 0.95;

    }    
    .mastercard2 {
        position: absolute;
        background-color: transparent;
        top: 50%;
        left: 55%;
        width: 13%;
        height: 15%;
        z-index: 1;
        opacity: 0.95;

    }
    .cogitativo2 {
        position: absolute;
        background-color: transparent;
        top:50%;
        left: 37%;
        width: 13%;
        height: 15%;
        z-index: 1;
        opacity: 0.95;

    }
    .tutoring2 {
        position: absolute;
        background-color: transparent;
        top: 50%;
        left: 20%;
        width: 13%;
        height: 15%;
        z-index: 1;
        opacity: 0.95;

    }
    .awe {
        position: absolute;
        top: 75%;
        left: 20%;
        width: 12%;
        height: 20%;
        content: url("../images/experience_images/awe.png");
        border-radius: 25px;
        z-index: 1;
        opacity: 0.95;


    }
    .mdb {
        position: absolute;
        top: 74%;
        left: 38%;
        width: 11%;
        height: 19%;
        content: url("../images/experience_images/mdb.jpg");
        border-radius: 25px;
        z-index: 1;
        opacity: 0.95;


    }
    .ieee {
        position: absolute;
        top: 75%;
        left: 55%;
        width: 12%;
        height: 20%;
        content: url("../images/experience_images/ieee.jpg");
        border-radius: 25px;
        z-index: 1;
        opacity: 0.95;

    }

    .awe2 {
        position: absolute;
        background-color: transparent;
        top: 95%;
        left: 20%;
        width: 12%;
        height: 20%;
        z-index: 1;
        opacity: 0.95;


    }

    .mdb2 {
        position: absolute;
        background-color: transparent;
        top: 94%;
        left: 38%;
        width: 12%;
        height: 20%;
        z-index: 1;
        opacity: 0.95;


    }
    .ieee2 {
        position: absolute;
        background-color: transparent;
        top: 95%;
        left: 55%;
        width: 12%;
        height: 20%;
        z-index: 1;
        opacity: 0.95;

    }

    div.footer {
        color: transparent;
        position: absolute;
        top: 100%;
        height: 150px;
        opacity: 0;

    }
    div.onebar {
        color:black;
        background-color: transparent;
        position: absolute;
        top: 13%;
        left: 32.5%;
        width: 2%;
        height: 6%;
        cursor: pointer;
        z-index: -1;

    }
    div.twobar {
        color:black;
        background-color: transparent;
        position: absolute;
        top: 13%;
        left: 50.5%;
        width: 2%;
        height: 6%;
        cursor: pointer;
        z-index: -1;
        
    }
    div.threebar {
        color:black;
        background-color: transparent;
        position: absolute;
        top: 13%;
        left: 65.5%;
        width: 2%;
        height: 6%;
        cursor: pointer;
        z-index: -1;
        
    }
