    body {
    background-color: #F3E4A1;
    background-image: url("../images/back.jpg");
    background-size: cover;
    }
    .hvr-float {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
      text-decoration: underline;
    }
    /*TYPEWRITER
    */

    .var-highlight {
      color: black;
    }

    .string-highlight {
      color: black;
    }

    #typewriter {
      margin: 0;
      font-family: monospace;
      word-spacing: 2px;

    }
    #typewriter:after {
      content: "|";
      -webkit-animation: blink 500ms linear infinite alternate;
              animation: blink 500ms linear infinite alternate;
    }

    @-webkit-keyframes blink {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes blink {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }

    a {
        color: black;
        text-decoration:none;
    }
    h1 {
        color: black;
        font-size: 250%;
        font-family: monospace;
        font-weight: lighter;
        letter-spacing: 1px;
        text-decoration: none;
    }
    h2 {
        color: black;
        font-size: 170%;
        /*font-family: "Times", Times, Serif;*/
        font-family: monospace;
        font-weight: lighter;
        letter-spacing: 2px;
        text-decoration: none;
        line-height: 20%;
    }
    h3 {
        color: black;
        font-size: 170%;
        /*font-family: "Times", Times, Serif;*/
        font-family: monospace;
        font-weight: lighter;
        letter-spacing: 2px;
        text-decoration: underline;
        line-height: 20%;

    }
    h4 {
        color: black;
        font-size: 130%;
        font-family: monospace;
        font-weight: lighter;
        letter-spacing: 1.5px;
        text-decoration: none;
        line-height: 10%

    }
    h5 {
        color: black;
        font-size: 145%;
        font-family: monospace;
        font-weight: lighter;
        letter-spacing: 2px;
        text-decoration: none;
        line-height: 100%

    }
    h6 {
        color: black;
        font-size: 145%;
        font-family: monospace;
        font-weight: lighter;
        letter-spacing: 2px;
        text-decoration: underline;
        line-height: 0%

    }
    div.name {
        color:black;
        background-color: transparent;
        position: absolute;
        top: 5%;
        left: 32%;
        width: 35%;
        height: 8%;
        cursor: pointer;
    }
    div.about {
        color:black;
        background-color: transparent;
        position: absolute;
        top: 11%;
        left: 24%;
        width: 8%;
        height: 6%;
        cursor: default;
        text-decoration: underline;
        z-index: -1;
    }
    div.experience {
        color:black;
        background-color: transparent;
        position: absolute;
        top: 13%;
        left: 34%;
        width: 17%;
        height: 6%;
        cursor: pointer;
    }
    div.projects {
        color: black;
        background-color: transparent;
        position: absolute;
        top: 13%;
        left: 52%;
        width: 15%;
        height: 6%;
        cursor: pointer;
    }
    div.interests {
        color:black;
        background-color: transparent;
        position: absolute;
        top: 13%;
        left: 67%;
        width: 16%;
        height: 6%;
        cursor: pointer;
    }
    .berkeley {
        position: absolute;
        top: 23%;
        left: 23%;
        width: 12%;
        height: 19%;
        content: url("../images/about_images/berkeley.jpg");
        border-radius: 25px;
        z-index: 1;
    }
    div.education {
        color:black;
        background-color:transparent;
        position: absolute;
        background-size: contain;
        top: 22%;
        left: 32%;
        width: 500px;
        height: 400px;
        cursor: default;
        padding: 10px 20px 0px 60px;
    }
    div.skills {
        color:black;
        background-color:transparent;
        position: absolute;
        content:url("../images/red.png");
        -ms-transform: rotate(-5deg); /* IE 9 */
        -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
        transform: rotate(-5deg);
        width: 30%;
        height: 50%;
        top: 33%;
        left: 2%;
    }
    div.skillswords {
        color:black;
        background-color:transparent;
        position: absolute;
        -ms-transform: rotate(-3deg); /* IE 9 */
        -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
        transform: rotate(-3deg);
        width: 30%;
        height: 50%;
        top: 34.5%;
        left: 8%;
    }
    div.skillswords2 {
        color:black;
        background-color:transparent;
        position: absolute;
        -ms-transform: rotate(-3deg); /* IE 9 */
        -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
        transform: rotate(-3deg);
        width: 30%;
        height: 50%;
        top: 33%;
        left: 8%;
    }
    div.skillswords3 {
        color:black;
        background-color:transparent;
        position: absolute;
        -ms-transform: rotate(-3deg); /* IE 9 */
        -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
        transform: rotate(-3deg);
        width: 30%;
        height: 50%;
        top: 54%;
        left: 8%;
    }

    div.datascience {
        color:black;
        background-color:transparent;
        position: absolute;
        content:url("../images/orange.png");
        -ms-transform: rotate(2deg); /* IE 9 */
        -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
        transform: rotate(2deg);
        width: 28%;
        height: 45%;
        top: 55%;
        left: 42%;
    }
    div.datasciencewords {
        color:black;
        background-color:transparent;
        position: absolute;
        -ms-transform: rotate(1deg); /* IE 9 */
        -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
        transform: rotate(1deg);
        width: 28%;
        height: 45%;
        top: 56%;
        left: 49%;
    }
    div.cali {
        position: absolute;
        top: 52%;
        left: 38%;
        width: 10%;
        height: 16%;
        content: url("../images/about_images/mit.png");
        border-radius: 25px;
        z-index: 1;
    }

    div.postit {
        color:black;
        background-color:transparent;
        position: absolute;
        content:url("../images/blue.png");
        -ms-transform: rotate(3deg); /* IE 9 */
        -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
        transform: rotate(3deg);
        width: 28%;
        height: 45%;
        top: 78%;
        left: 16%;
    }
    div.postitwords {
        color:black;
        background-color:transparent;
        position: absolute;
        -ms-transform: rotate(1deg); /* IE 9 */
        -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
        transform: rotate(1deg);
        width: 28%;
        height: 45%;
        top: 78%;
        left: 20%;
    }
    div.mit {
        position: absolute;
        top: 74%;
        left: 35%;
        width: 10%;
        height: 16%;
        content: url("../images/about_images/california.png");
        border-radius: 25px;
        z-index: 1;
    }
    div.portrait {
        position: absolute;
        top: 30%;
        right: 5%;
        border-radius: 10px;
        -ms-transform: rotate(8deg); /* IE 9 */
        -webkit-transform: rotate(8deg); /* Chrome, Safari, Opera */
        transform: rotate(8deg);
        content: url(../images/about_images/me.jpg);
        background-size: contain;
        width: 25%;
        height: 65%;

    }
    div.footer {
        color: transparent;
        position: absolute;
        top: 100%;
        height: 150px;
        opacity: 0;

    }
    div.onebar {
        color:black;
        background-color: transparent;
        position: absolute;
        top: 13%;
        left: 32.5%;
        width: 2%;
        height: 6%;
        cursor: pointer;
        z-index: -1;

    }
    div.twobar {
        color:black;
        background-color: transparent;
        position: absolute;
        top: 13%;
        left: 50.5%;
        width: 2%;
        height: 6%;
        cursor: pointer;
        z-index: -1;
        
    }
    div.threebar {
        color:black;
        background-color: transparent;
        position: absolute;
        top: 13%;
        left: 65.5%;
        width: 2%;
        height: 6%;
        cursor: pointer;
        z-index: -1;
        
    }